<partial name="_HeaderPartialL" />
<div class="login">
    <h1>Reset Password</h1><br>
    <form method="POST" action="/Account/PasswordReset" onsubmit="return checkPassword(this)">
        <label class="form-label" for="Email">Email</label><br>
        <input class="form-input" name="Email" size="35"><br><br>
        <label class="form-label" for="Username">Username</label><br>
        <input class="form-input" name="Username" size="35"><br><br>
        <label class="form-label" for="Password">New Password</label><br>
        <input type="password" class="form-input" name="Password" size="35"><br><br>
        <label class="form-label" for="PasswordConfirm">Confirm New Password</label><br>
        <input type="password" class="form-input" name="PasswordConfirm" size="35"><br><br>
        <input type="submit" value="Reset Password">
    </form>
    <br><br>
</div>
<p>I promise you, we take security very seriously!</p>